.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Container {
  background-color: rgb(206, 206, 186);
  position: absolute;
  /* left: 0; */
  top: 0;
  margin-left: 0px;
  width: 50% !important;
  height: 100% !important;
  min-height: 2000px !important;
}

.navbar {
  width: 100%;
  padding: 5px 30px;
  position: fixed;
  top: 0;
  z-index: 9;
}

.navbar-brand {
  font-weight: bold;
  letter-spacing: 1px;
}

.navbar-brand span {
  font-weight: 300;
}

.nav-link {
  text-transform: uppercase;
}

.cardContainers {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  padding: 20px;
  background-color: white;
  width: 60%;
  position: relative;
  margin: auto;
  /* margin-right: auto; */
  /* margin-left: 30%; */
  margin-top: 20%;
  justify-content: space-between;
  /* z-index: ; */
}

.titleSec {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* width: 50%; */
  margin-right: 15px;
}

.titleSec .titleName {
  /* align-items: center; */
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.titleSec .divider {
  width: 50px;
  /* margin-top: -30px; */
  border-top: 2px solid blue;
  margin-bottom: 20px;
}

.titleSec .occupation {
  font-size: ;
  text-align: center;
  letter-spacing: 1px;
}

.titleSec .socialMedia {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.titleSec .socialMedia i {
  margin-left: 30px;
}

.mainDes {
  width: 50%;
  margin-left: 10px;
  text-align: center;
}

.mainDes .introTitle {
  font-size: 40px;
  /* text-align: center; */
  font-weight: bolder;
  margin-bottom: 10px;
}

.mainDes .introSubtitle {
  font-size: 25px;
  margin-bottom: 50px;
}

.mainDes .introBtns {
  /* margin-bottom: 0px; */
}

.mainDes .introDescription {
  margin-top: 50px;
}

.cardContainersWork {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 40px;
  background-color: white;
  width: 60%;
  position: relative;
  margin: auto;
  margin-top: 10%;
}

.resumeTitle {
  /* text-align: center; */
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 20px;
}

.workContainer {
  display: flex;
  justify-content: space-between;
}

.workContainer .workIntro .workTimeline {
  color: blue;
  font-size: 20px;
  font-weight: 500;
}

.workContainer .workDes {
  width: 65%;
}

.listContainer {
  /* height: 10px; */
  /* display: flex; */
  /* flex-wrap: wrap; */
}
