.somethingIhavepickedupoftheInternet {
  background: linear-gradient(-45deg, #ee7752, #d52f6e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  position: sticky;
  top: 0;
  -webkit-animation: Animation 5s ease infinite;
  -moz-animation: Animation 5s ease infinite;
  animation: Animation 5s ease infinite;
}

@-webkit-keyframes Animation {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}
@-moz-keyframes Animation {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}
@keyframes Animation {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}

.Container {
  /* padding: 100px; */
  width: 50%;
  /* margin: 100px !important; */
  /* width: 60%; */
  margin: auto;
  margin-top: 30px;
  padding: 20px 30px 30px 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px); */
}

.lastContainer {
  margin-bottom: 100px;
}

.introHeader {
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
  display: inline;
  color: #fff;
  font-size: 60px;
  letter-spacing: 1px;
}

.introDes {
  /* font-family: 'Courier New', Courier, monospace; */
  margin-top: 5px;
  font-size: 20px;
  /* font-weight: normal; */
  /* text-shadow: 0px 0px black; */
  line-height: 1.5em;
  letter-spacing: 1px;
  color: rgb(43, 43, 43);
  /* filter: blur(); */
}

.title {
  font-size: 40px;
  color: rgb(85, 85, 85);
  letter-spacing: 5px;
  /* font-family; */
}

.subTitle {
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: 1px;
  color: rgb(43, 43, 43);
  margin-bottom: 5px;
}
